<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 

<div style="text-align:center">
  <h1>
   Luis Ochoa - API-mercadolibre
  </h1>
  <img width="300" alt="Angular Logo" src="https://static.iris.net.co/dinero/upload/images/2013/4/26/174438_1586_1.jpg">
</div>

<div style="text-align: center">
<input type="text" size="50" value="" #name>

<button (click)="getProduct(name.value)" mat-raised-button>search</button>

<div class="card-columns">
  <div class="card text-white bg-secondary mb-3" style="width: 18rem;" *ngFor="let product of products">
      <img class="card-img-top" [src]="product.thumbnail" alt="thumbnail">
      <div class="card-body">
          <h5 class="card-title">{{product.title}}</h5>
          <p class="card-text">{{product.price | currency}}</p>
          <p>Seller: {{product.seller.id}}</p>
          <p>Condition: {{product.condition}}</p>
      </div>
  </div>
</div>

</div>